<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>238037727373-mci1qh7r6sg6r6g3bpmlc4m39dhi4420.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238037727373-mci1qh7r6sg6r6g3bpmlc4m39dhi4420</string>
	<key>API_KEY</key>
	<string>AIzaSyDwkvGWxjH8BOxdAMquQmhyFz1fKId4Vrw</string>
	<key>GCM_SENDER_ID</key>
	<string>238037727373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sandeepwalia.FYP</string>
	<key>PROJECT_ID</key>
	<string>final-year-project-1035c</string>
	<key>STORAGE_BUCKET</key>
	<string>final-year-project-1035c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238037727373:ios:1c21062fe1838b2e</string>
	<key>DATABASE_URL</key>
	<string>https://final-year-project-1035c.firebaseio.com</string>
</dict>
</plist>